/* CSS Document */

#widthManager{
 background-color:#FFF;
 height:1620px;
 width:1200px;
}

#topHalf{
 height:578px;
 width:1200px;
 margin:1px;
 border-bottom:1px #999 solid;

}

#bottomHalf{
 height:977px;
 width:1200px;
 background-color:#FFF;
 margin-left:20px;
}

#slideShow{
 height:578px;
 width:1200px;
}

#logo{
 height:85px;
 width:450px;
 opacity:1;
 margin:10px;
}

#menuBar{
 height:85px;
 position:absolute;
 margin-left:1px;
 background: transparent;
 margin-top:15px;
 width:1200px;
}

#transparentBar
{
   height:85px;
	 position:absolute;
	 filter:Alpha(opacity=29);
	 opacity:0.29;
	 margin-left:1px;
	 background: #ffffff;
	 margin-top:15px;
	 width:1200px;
}	



#sideBarRight{
 height:977px;
 width:293px;
 background-color:#000;
 display:inline-block;
 
}

#sideBarRight #block1{
 height: 340px;
 background-color:#333;
}

#sideBarRight #block2{
 height: 320px;
 background-color:#444;
}

#sideBarRight #block3{
 height: 317px;
 background-color:#555;
}
#sideBarLeft{
 height:977px;
 width:295px;
 background-color:#f7f8f8;
 border-right: #c9c8c8 solid 3px;
 display:inline-block;
 margin-right:0;
 
}
#sideBarLeft #block1{
	height:307px;
//	background-color:#FFF;
}

#sideBarLeft #block2{
	height:137px;
//	background-color:#B17;
}

#sideBarLeft #block3{
	height:178px;
	//background-color:#B99;
}

#sideBarLeft #block4{
	height:186px;
	//background-color:#B75;
}

#sideBarLeft #block5{
	height:122px;
	//background-color:#B79;
}

.image{
 
}

#main{
 height:977px;
 width:570px;
 background-color:#CFC;
 position:relative;
 display:inline-block;
 margin-left:0;
}

#main #block1{
 
}

#main #block2{
 
}

#main #block3{
 
}

#footerMenu{
 height:65px;
 width:1200px;
 background-color:#000;
 
}
