body {
	margin:0;
	//background:#000000;

}

#widthManager {
	background: url('images/background.png');
	width:1240px;
	height:800px;
	margin:auto;
	margin-top:0;
	margin-bottom:0;

}


#sidebar {
	width:302px;
	height:95%;
	background: url('images/asphalt.png');
    float:left;
}

#logo{
	width:134px;
	height:33px;
	margin-left:24px;
	margin-top:36px;
	background:url('images/logo.png');
}
#divider {
	width: 40px;
	height:95%;
	background: url('images/divider.png');
    float:left;
}

#content {
	width: 880px;
	float:right;
	d
	margin-left:18px;
	margin-top:50px;
	color:#ffffff;
}

#footer {
	width:100%;
	background: #161412;
	filter:Alpha(opacity=40);
	opacity:0.4;
	clear:both;
	display:block;
	height:5%;
	margin:0;
}

::-webkit-scrollbar {
    width: 30px;
    height: 13px;
    background-color:#000000;
}
